<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruno Bravo</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body class="bg-gray-400">

  <div class="main" class="w-full">
    <header class="border-2 border-solid border-black">

      <div class="header-sup" class="rounded-xl w-full h-auto flex justify-center items-center backdrop-opacity-20 backdrop-invert bg-neutral-700/20 fixed">

        <div id="titulo" class="w-1/2 text-center text-white text-xl">
          <h1>Bienvenido a mi página web</h1>
        </div>
        <nav class="menu-main" class="w-1/3">
          <ul class="list-none flex justify-around">
            <li><a class="no-underline text-black font-sans hover: rounded-lg" href="#">Inicio</a></li>
            <li><a class="no-underline text-black font-sans hover: rounded-lg" href="#deportes">Deportes</a></li>
            <li><a class="no-underline text-black font-sans hover: rounded-lg" href="#comida">Comida</a></li>
            <li><a class="no-underline text-black font-sans hover: rounded-lg" href="#tecnologia">Tecnología</a></li>
          </ul>
        </nav>
      </div>
      <div class="introduccion">
        <h1 class="text-white text-8xl">Hola! <br> Soy Bruno Bravo</h1>
        <p class="text-zinc-500 text-2xl">Como ya se dijo, me llamo Bruno y <br> estudio en el Instituto Superior <br> Tecnológico Sudamericano en la <br> carrera de Software y a continuación <br> verás un poco de mis gustos.</p>
      </div>
    </header>

    <div><img class="barra" class="w-full h-36" src="../assets/Carpetas_Pagina_Personal/img/contenido/barra.png" alt=""></div>

    <section class="contenido" class="flex-col">

      <article id="deportes" class=" flex flex-col text-white">
        <h2 class="text-5xl">Deportes</h2>
        <div id="descripcionUno" class="flex justify-around items-center">
          <div class="Uno" class="flex">
            <img class="w-96 rounded-xl" src="../assets/Carpetas_Pagina_Personal/img/contenido/deportes.png" alt="">
            <div id="parrafos">
              <p>A pesar de que ya no practico ninguno desde hace mucho tiempo, me gustan bastante y de entre ellos están el volleyball, el fútbol y atletismo</p>
            </div>
          </div>
          <div id="imagenesUno" class="flex flex-col mb-10">
            <img src="../assets/Carpetas_Pagina_Personal/img/contenido/volley.png" alt="">
            <img src="../assets/Carpetas_Pagina_Personal/img/contenido/futbol.png" alt="">
            <img src="../assets/Carpetas_Pagina_Personal/img/contenido/atletismo.png" alt="">
          </div>
        </div>
      </article>

      <article id="comida" class=" flex flex-col text-white">
        <h2 class="text-5xl">Comida Favorita</h2>
        <div id="descripcionDos" class="flex justify-around items-center">
          <div class="Uno" class="flex">
            <img class="w-96 rounded-xl" src="../assets/Carpetas_Pagina_Personal/img/contenido/comida.png" alt="">
            <div id="parrafos">
              <p>Ahora continuamos con la segunda sección que es la de la comida, de hecho, no hay mucho que decir pues como de todo un poco pero si tengo que elegir entre 3 “platos “ favoritos pues están: chispiolas, fresas con chocolate y jamón con huevo.</p>
            </div>
          </div>
          <div id="imagenesDos">
            <img src="../assets/Carpetas_Pagina_Personal/img/contenido/jamon_huevo.png" alt="">
            <img src="../assets/Carpetas_Pagina_Personal/img/contenido/chispiolas.png" alt="">
            <img src="../assets/Carpetas_Pagina_Personal/img/contenido/fresas.png" alt="">
          </div>
        </div>
      </article>

      <article id="tecnologia" class=" flex flex-col text-white">
        <h2 class="text-5xl">Tecnología</h2>
        <div id="descripcionTres" class="flex justify-around">
          <p id="parrafos" class="flex flex-col justify-center">Y para finalizar la última sección pero no menos importante y esta es mi interés por la tecnología la cual empezó a muy temprana edad, desde los 12 años se podría decir, y como con la gran mayoría empezó con los video juegos los cuales son mis bases para que yo le tenga bastante apego a esta técnica. Por ello, lo que me gusta más de esta técnica vendrían siendo:</p>
          <div id="imagenesTres" class="flex flex-col">
            <h3>Programación</h3>
            <img  src="../assets/Carpetas_Pagina_Personal/img/contenido/programacion.png" alt="">
            <h3>Video juegos</h3>
            <img  src="../assets/Carpetas_Pagina_Personal/img/contenido/juegos.png" alt="">
          </div>
        </div>
        <footer>
          <h3 class="text-zinc-500 text-center text-xs">Creado por Spydirex ©| Todos los derechos recervados</h3>
        </footer>
      </article>

    </section>

  </div>
</body>
</html>